@model IEnumerable<HistoryViewModel>;

@{
    ViewData["Title"] = "Purchase History";
    bool hasData = (bool)ViewData["hasHistory"];

}

@section Style{
    <link rel="stylesheet" href="~/css/history.css" />

}

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

}

@if (!hasData)
{
    <h5>No purchase history</h5>
}
else
{
    @foreach (HistoryViewModel history in Model)
    {
        <div class="row">
            <div class="col-12 col-md-6 mt-5">
                <div class="book-photo book-photo-sm book-photo-md book-photo-lg book-photo-xl">
                    <img src=@history.Product.ImagePath class="history-img rounded" />
                </div>

                <h4 class="book-title">@history.Product.ProductName</h4>

                <div class="book-text book-text-lg">
                    <p class="text-justify">@history.Product.ProductDescription</p>
                </div>

                <div class="book-download book-download-lg">
                    <a href=@history.Product.DownloadLink class="btn btn-block btn-info">Download</a>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-auto mb-auto">
                <div class="product-info">
                    <div class="property">
                        <span class="property-title">Purchased On:</span>
                        <span>@history.Order.PurchaseDate.ToString("dd MMM yyyy")</span>
                    </div>
                    <div class="property">
                        <span class="property-title">Quantity:</span>
                        <span>@history.ActivationCdList.Count</span>
                    </div>
                    <div class="property">
                        <span class="property-title">Activation Code:</span>
                        <span id="actCd">
                            @if (@history.ActivationCdList.Count > 1)
                            {
                                <select>
                                    @foreach (string activationCd in history.ActivationCdList)
                                    {
                                        <option>@activationCd</option>
                                    }
                                </select>
                            }
                            else
                            {
                                @history.ActivationCdList[0]
                            }
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
}