@{
    ViewData["Title"] = "Product Management";
    List<Product> products = (List<Product>)ViewData["products"];
}

<h3 class="mt-4">All Products</h3>

<a class="btn btn-primary" asp-controller="Product" asp-action="Create">Create New</a>

<table class="table mt-3">
    <thead style="white-space:nowrap">
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product Description
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Download Link
            </th>
            <th>
                Image Path
            </th>
            <th>
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (Product product in products)
        {
            <tr>
                <td>
                    @product.ProductName
                </td>
                <td>
                    @product.ProductDescription
                </td>
                <td>
                    $@product.UnitPrice
                </td>
                <td>
                    <a href="@product.DownloadLink">@product.DownloadLink</a>
                </td>
                <td>
                    <a href="@product.ImagePath">@product.ImagePath</a>
                </td>
                <td style="white-space:nowrap">
                    <a class="btn" asp-action="Edit" asp-route-id="@product.Id"><img src="~/img/pencil-fill.svg" /></a>
                    <a class="btn" asp-action="Delete" asp-route-id="@product.Id"><img src="~/img/trash-fill.svg" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>