@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cart";
    var items = (List<ShoppingCart>)ViewData["userItems"];    //
    var addItems = (List<Product>)ViewData["addItems"];
    var nums = 0;
}

@section Scripts{
    <script src="~/js/ShoppingCart/Cart.js"></script>
}

<div class="row" style="width:910px;">
    <div class="col" style="margin-right:1%;max-width:20%;">
        <a asp-area="" asp-controller="ShopGallery" asp-action="Index"><b>Continue Shopping</b></a>
    </div>
    <span style="margin-right:1%">|</span>
    <div class="col" style="margin-right:1%;max-width:20%;">
        <a id="check-out" asp-area="" asp-controller="Purchase" asp-action="Checkout"><b style="margin-right:0%;" id="spaceU">Checkout</b></a>
    </div>
    <div class="col" style="margin-right:0%;text-align:right;">
        <b style="font-weight: bold;">Total: $</b><b id="totalP" style="font-weight: bold;">@ViewData["TotalPrice"]</b>
    </div>
</div>

<table id="main_cart_page">
    <thead>
        <tr id="first_row">
            <td class="columns_name_img" id="productIMG">Product Photo</td>
            <td class="columns_name">Product Name</td>
            <td class="columns_name">Unit Price (S$)</td>
            <td class="columns_name">Quantity</td>
            <td class="columns_name">Total Price (S$)</td>
            <td class="columns_name">Option</td>
        </tr>
    </thead>
    <tbody id="tbd">
        @{
            if (addItems != null)
            {
                for (var i = 0; i < addItems.Count; i++)
                {
                <tr>
                    @* product image *@
                    <td class="productIMG productInfo itemfontstyle">
                        <div class="bg_img">
                            @if (addItems[i].ProductStatus != "Available")
                            {
                                <span class="ms">Not Available</span>
                            }
                            <img src="@addItems[i].ImagePath" width="128" height="160" />
                        </div>
                    </td>
                    @* product name *@
                    <td class="productInfo- productInfo">
                        <span class="itemfontstyle">@addItems[i].ProductName</span>
                    </td>
                    @* product unit ptice *@
                    <td class="unitPrice productInfo itemfontstyle">
                        @addItems[i].UnitPrice
                    </td>
                    @* product quantity *@
                <td class="productInfo quantt itemfontstyle">

                    @if (addItems[i].ProductStatus != "Available")
                    {
                        <input disabled type="number" class="numberInCart itemfontstyle" style="width:70px; border:none;background:#F3F6F9;text-align:center;" />
                    }
                    else
                    {
                        nums = 0;
                        nums = items.Find(x => x.ProductId == addItems[i].Id).Count;
                        <button class="btn subBtn" onclick="sub()">-</button>
                        <input type="number" class="numberInCart itemfontstyle" min="0" max="1000" value="@nums" product_id="@addItems[i].Id" oninput="value=value.replace(/[^\d]/g,'')" style="width:60px; border:none;background:#F3F6F9;text-align:center;" />
                        <button class="btn addBtn" onclick="add()">+</button>
                    }
                </td>
                    @* total price of each product  *@
                    <td class="productInfo ttprice itemfontstyle">
                        @{
                            if (addItems[i].ProductStatus != "Available")
                            {
                                <div class="checkOutTag">Not Available!</div>
                            }
                            else
                            {
                                var tt = Math.Round(nums * addItems[i].UnitPrice, 2);
                                <div class="total checkOutTag">@tt</div>
                            }
                        }
                    </td>
                    @* delete button *@
                    <td class="bbt">
                        <button type="button" class="deleteBtn btn" product_id="@addItems[i].Id"><b class="namebtn">Delete</b></button>
                    </td>
                </tr>
                }
            }
        }
    </tbody>
</table>




<style>
    #spaceU {
        margin-right:40%;
    }

    table, tr, th, td {
        border: none;
        border-collapse: collapse;
        text-align: center;
        table-layout: fixed;
        word-wrap: break-word;
    }

    #main_cart_page {
        width: 910px;
    }
    .itemfontstyle {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #464E5F;
    }
    .columns_name {
        align-content: center;
        height: 80px;
        width: 130px;
        height: 43px;
        left: 30px;
        right: 30px;
        top: 100px;
        background: #F3F6F9;
        border-radius: 6px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        /* identical to box height */
        @* display: flex;
        *@ align-items: center;
        letter-spacing: 0.03em;
        color: #464E5F;
    }
    .columns_name_img {
        align-content: center;
        height: 80px;
        width: 128px;
        height: 43px;
        left: 30px;
        right: 30px;
        top: 100px;
        background: #F3F6F9;
        border-radius: 6px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        /* identical to box height */
        @*        display: flex;*@
        align-items: center;
        letter-spacing: 0.03em;
        color: #464E5F;
    }

    .productIMG {
        width: 128px;
        height: 160px;
        left: 30px;
        top: 113px;
    }
    .productInfo- {
        width: 130px;
        height: 173px;
        left: 365px;
        top: 113px;
    }
    .unitPrice {
        width: 130px;
        height: 173px;
        left: 540px;
        top: 113px;
    }
    .quantt {
        width: 130px;
        height: 173px;
        left: 698px;
        top: 113px;
    }
    .ttprice {
        width: 130px;
        height: 173px;
        left: 698px;
        top: 113px;
    }
    .bbt {
        width: 130px;
        height: 173px;
        left: 1058px;
        top: 181px;
    }
    .deleteBtn {
        width: 90px;
        height: 34px;
        right: 30px;
        top: 181px;
        background: #ff150a;
        border-radius: 6px;
    }
    #first_row {
        align-content: center;
        border: 0px,solid,#4AB1DD;
    }

    .btn:hover {
        color: #fff;
        background: #ff807a;
    }

    .btn:focus {
        color: #fff;
        background: #ad0200;
        outline: none;
    }
    .namebtn {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        /* identical to box height */
        color: #ffffff;
    }
    .ms {
        position: absolute;
        background: #ff1a2f;
        opacity: 0.8;
        width: 128px;
        height: 20px;
        left: 0;
        bottom: 0.1px;
        text-align: center;
        color: white;
    }

    .bg_img {
        position: relative;
        width: 128px;
        height: 160px;
    }

</style>
