@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<style>
    .navbar-anchor {
        top: 0;
        left: 0;
        position: fixed;
        width: 100%
    }




</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - .NET Core CA Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Style", required: false)
</head>
<body>
    <header class="navbar-fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            @*Brand logo*@
            <div class="mx-auto order-0">
                <a class="navbar-brand ml-2" asp-controller="ShopGallery" asp-action="Index"><img src="~/img/logo.png" height="40"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            @*Menu buttons - to flush left*@
            <div class="navbar-collapse collapse w-100 order-1 dual-collapse2">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link txt-dark @ViewData["Is_Gallery"]" asp-area="" asp-controller="ShopGallery" asp-action="Index">Products</a>
                    </li>
                    @if (HttpContextAccessor.HttpContext.Request.Cookies["sessionId"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link txt-dark @ViewData["Is_PurchaseHistory"]" asp-area="" asp-controller="Purchase" asp-action="History">My&nbsp;Purchases</a>
                        </li>
                    }

                    @* Can use below code to set pages for admin access only*@
                    @if (HttpContextAccessor.HttpContext.Session.GetString("AccountType") == "Admin")
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Enquiry" asp-action="Manage">Manage&nbsp;Enquiries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @ViewData["Is_ProductMgmt"]" asp-area="" asp-controller="Product" asp-action="Index">Manage&nbsp;Products</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Enquiry" asp-action="Index">Contact&nbsp;Us</a>
                        </li>
                    }
                </ul>

                @*Search form*@
                <form class="form-inline container-fluid" asp-controller="ShopGallery" asp-action="Index">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search..." name="searchString">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" hidden> </button>
                </form>
            </div>

            @*Login and cart - to flush right*@

            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">


                    @*Use IHttpContextAccessor injection to retrieve session key value pair*@
                    @if (HttpContextAccessor.HttpContext.Request.Cookies["username"] != null)
                    {
                        var name = HttpContextAccessor.HttpContext.Request.Cookies["username"];
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="" asp-action="">Hello, @name!</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="" asp-action="">Hello, Guest!</a>
                        </li>
                    }


                    @if (HttpContextAccessor.HttpContext.Request.Cookies["sessionId"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Logout" asp-action="Index">Logout</a>
                        </li>
                    }

                    @if (HttpContextAccessor.HttpContext.Session.GetInt32("ShoppingCartIcon") != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ShoppingCart" asp-action="Index">
                                @{
                                    var count = HttpContextAccessor.HttpContext.Session.GetInt32("ShoppingCartIcon");
                                }
                                <img src="/img/shopping-cart.png" width="25" /> &nbsp; <span class="badge" style="border-radius: 30px; padding: 7px 11px;">@count</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ShoppingCart" asp-action="Index">
                                <img src="/img/shopping-cart.png" width="25" /> &nbsp; (0)
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
             
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="margin-top:95px">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GDipSA52 Team 10 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
