@{
    ViewData["Title"] = "Home";
    string searchString = (string)ViewData["searchString"];
    List<Product> products = (List<Product>)ViewData["products"];
    @model ESSD_CA.Models.ShoppingCart;

}

@{
    int searchReturned = products.Count;
}



<br />

@if (searchString != null)
{
    <h5>Your search for "@searchString" returned @searchReturned result(s)</h5>
}

@if (searchReturned == 0)
{
    <br />
    <a class="nav-item text-black-50" asp-area="" asp-controller="ShopGallery" asp-action="Index">Go back to Products</a>
}



@foreach (Product product in products)
{
    <div class="d-inline-flex ml-1 mr-1 mt-2">
        <div class="row-12 row-sm-8 row-md-6 row-lg-4">
            <div class="card">
                <img class="card-img rounded" src="@product.ImagePath">
                <div class="card-body">
                    <h4 class="card-title">@product.ProductName</h4>
                    <p class="card-text">@product.ProductDescription</p>
                    <div class="price text-success"><h5 class="mt-4">S$@product.UnitPrice</h5></div>
                    <p class="card-text mt-4">Quantity</p>
                    <div class="justify-content-between">
                        <form action="/ShopGallery/AddToCart" method="post" class="form-inline">
                            <input hidden asp-for="@product.Id" />
                            <input type="number" class="form-control mr-2 flex-grow-1" name="count" min="1" max="1000" value="1"/>
                            <button type="submit" value="Add to Cart ml-2 flex-grow-0" class="btn btn-outline-danger flex-grow-1">Add to Cart &nbsp<img src="~/img/shopping-cart.png" width="20"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




